{% extends 'layout/fullpage-vue.html.twig' %}

{% block title %}Login{% endblock %}

{% block stylesheets %}
	{{ parent() }}

	{{ encore_entry_link_tags('login') }}
{% endblock %}

{% block javascripts %}
	{{ parent() }}

	{{ encore_entry_script_tags('login') }}
{% endblock %}

{% block body %}
	<div id="vue"></div>
{% endblock %}

{% block vueData %}
	{% if error %}		
		{
			"error": {{ error.messageKey|trans(error.messageData, 'security')|serialize('json')|raw }},
			"getLastUsername": {{ getLastUsername|serialize('json')|raw }},
			"userType": {{ userType|serialize('json')|raw }},
			"csrfTokenLogin": {{ csrf_token('authenticate')|serialize('json')|raw }}
		}
	{% else %}
		{
			"getLastUsername": {{ getLastUsername|serialize('json')|raw }},
			"userType": {{ userType|serialize('json')|raw }},
			"csrfTokenLogin": {{ csrf_token('authenticate')|serialize('json')|raw }}
		}
	{% endif %}
{% endblock %}
