{% extends 'layout/main.html.twig' %}

{% block title %}Accueil | KIVID{% endblock %}

{% block body %}
	<div id="intro">
		<div class="bg-img parallax-top"></div>
		<div class="text">
			<h1>Kivid</h1>
			<div data-aos="zoom-in" class="logo">
				<img src="/img/logo-kivid-white.svg" title="Kivid" alt="Logo Kivid"/>
			</div>
			<h3 data-aos="zoom-in" data-aos-duration="1000">suivez le bon mouvement</h3>
			<p data-aos="zoom-in" data-aos-duration="1000">
				Programme d’exercices prescrits par votre thérapeute <br>pour optimiser votre rééducation.
			</p>
			<div data-aos="zoom-in" data-aos-duration="1000">
				<a href="#apropos" class="btn-kivid white">C'est parti
					<i class="fas fa-arrow-right"></i>
				</a>
			</div>
		</div>
		<div class="divider"></div>
	</div>
	<div id="apropos">
		<div class="kivid-app" data-aos="fade-up-right" data-aos-duration="700">
			<img src="/img/homepage/kivid.png" alt="Écrans de l'app Kivid" title="Écrans de l'app Kivid">
		</div>
		<div class="text" data-aos="fade-left" data-aos-offset="200" data-aos-duration="600">
			<h2>Commencer Gratuitement</h2>
			<p>Kivid est une plateforme de prescription d’exercices en ligne. 
			Connectez vous avec votre thérapeute ou un professionnel de l’équipe Kivid et accédez 
			à votre programme sous forme de fiches personnalisées.</p>
			<div>
				<a href="{{ path('app_register') }}" class="btn-kivid">
					S'inscrire
					<i class="fas fa-arrow-right"></i>
				</a>
			</div>
		</div>
	</div>
	<div id="services">
		<h2 data-aos="zoom-in">Accédez à Nos&nbsp;Services</h2>
		<div class="frames">
			<div data-aos="zoom-in" data-aos-offset="50" data-aos-delay="200" data-aos-duration="600">
				<div class="picto sanguine">
					<i class="fas fa-user-friends"></i>
				</div>
				<div>
					<h4>
						Kinésithérapeutes &amp;&nbsp;Ostéopathes
					</h4>
					<p>Connectez vous avec votre praticien ou un professionnel de santé membre de l’équipe&nbsp;KIVID</p>
				</div>
			</div>
			<div div data-aos="zoom-in" data-aos-offset="50" data-aos-delay="200" data-aos-duration="600">
				<div class="picto tournesol">
					<i class="far fa-play-circle"></i>
				</div>
				<div>
					<h4>
						Vidéos Professionnelles
					</h4>
					<p>Accédez à votre fiche d’exercices validée par un comité scientifique et réalisée par des professionnels</p>
				</div>
			</div>
			<div data-aos="zoom-in" data-aos-offset="50" data-aos-delay="200" data-aos-duration="600">
				<div class="picto yellow">
					<i class="fas fa-chart-line"></i>
				</div>
				<div>
					<h4>
						Graphiques D'évolution
					</h4>
					<p>Suivez vos paramètres après chaque fiche d’exercices que vous réalisez pour un meilleur&nbsp;suivi</p>
				</div>
			</div>
		</div>
	</div>
	<div id="plus">
		<div class="text">
			<h2 data-aos="fade-right" data-aos-offset="200" data-aos-duration="600">Une Interface <br>Simple</h2>
			<h3 data-aos="fade-right" data-aos-delay="400" data-aos-duration="600">et ludique</h3>
			<ul>
				<li data-aos="fade-right" data-aos-delay="400" data-aos-duration="600"><i class="fas fa-check-circle"></i>Passez des paliers de difficulté <br>et Gagnez des points</li>
				<li data-aos="fade-right" data-aos-delay="400" data-aos-duration="600"><i class="fas fa-check-circle"></i>Suivez vos graphiques d’évolution</li>
				<li data-aos="fade-right" data-aos-delay="400" data-aos-duration="600"><i class="fas fa-check-circle"></i>Commentez vos exercices</li>
			</ul>
		</div>
		<div class="screen" data-aos="fade-up-left" data-aos-offset="150" data-aos-duration="700">
			<img src="/img/homepage/laptop-kivid.png" alt="Écran de l'app Kivid" title="Écran de l'app Kivid">
		</div>
	</div>
	<div id="footer">
		<div class="divider"></div>
		<div class="bg-img parallax-bot"></div>
		<div class="text">
			<h3 data-aos="zoom-in" data-aos-duration="1000">changez votre&nbsp;vie</h3>
			<h2 data-aos="zoom-in" data-aos-duration="1000">Bougez Avec&nbsp;KIVID</h2>
			<div data-aos="zoom-in" data-aos-duration="1000">
				<a href="{{ path('app_register') }}" class="btn-kivid white">Je m'inscris
					<i class="fas fa-arrow-right"></i>
				</a>
			</div>
			<ul class="social-links">
				<li data-aos="zoom-in" data-aos-offset="-10" data-aos-duration="1000">
					<a href="https://www.facebook.com/Kividexercice" title="Suivez sur Facebook" target="_blank">
						<i class="fab fa-facebook-f"></i>
					</a>
				</li>				
				<li data-aos="zoom-in" data-aos-offset="-10" data-aos-duration="1000">
					<a href="https://www.instagram.com/kivid.fr/" title="Suivez sur Instagram" target="_blank">
						<i class="fab fa-instagram"></i>
					</a>
				</li>
			</ul>
		</div>
		<div class="mentions">
			<p class="copyright">© 2021 - Kivid - Tous droits réservés</p>
			<div class="links">
				<a href="{{ path('app_conditions_utilisation') }}">CGU</a>
				<a href="{{ path('app_cgv') }}">CGV</a>
				<a href="{{ path('app_politique-confidentialite') }}">Politique de Confidentialité</a>
				{# <a href="#" class="disab-vsm">Boutique en lignes</a>
				<a href="#" class="disab-sm">Partenaires</a> #}
			</div>
		</div>
	</div>
	<button class="btn-go-to-top">
		<i class="fas fa-arrow-up"></i>
	</button>
{% endblock %}
