{% extends 'layout/fullpage-vue.html.twig' %}

{% block title %}Inscription | KIVID{% endblock %}

{% block stylesheets %}
	{{ parent() }}

	{{ encore_entry_link_tags('register') }}
{% endblock %}

{% block javascripts %}
	{{ parent() }}

	{{ encore_entry_script_tags('register') }}
{% endblock %}

{% block body %}
	<div id="vue"></div>
{% endblock %}

{% block vueData %}
		{
			"userType": {{ userType|serialize('json')|raw }},
			"csrfTokenRegister": {{ csrf_token('registration')|serialize('json')|raw }}
		}
{% endblock %}
