{% extends 'layout/vue.html.twig' %}

{% block title %}Dashboard | KIVID{% endblock %}

{% block stylesheets %}
	{{ parent() }}

	{{ encore_entry_link_tags('patient-dashboard-page') }}
{% endblock %}

{% block javascripts %}
	{{ parent() }}

	{{ encore_entry_script_tags('patient-dashboard-page') }}
{% endblock %}

{% block body %}
	<div id="vue"></div>
{% endblock %}
{% block vueData %}
	{
		"patient": {{ patient|serialize('json', {'groups': 'patient_read'})|raw }},
		"currentUser": {{ app.user|serialize('json', {'groups': 'user_read'})|raw }},
		"doctorView": {{ doctorView|serialize('json')|raw }},
		"csrfTokenContact": {{ csrf_token('contact')|serialize('json')|raw }},
		"csrfTokenSelectDoctor": {{ csrf_token('select_doctor' ~ patient.id)|serialize('json')|raw }},
		"csrfTokenAcceptDoctor": {{ csrf_token('accept_doctor' ~ patient.id)|serialize('json')|raw }},
		"csrfTokenDeclineDoctor": {{ csrf_token('decline_doctor' ~ patient.id)|serialize('json')|raw }},
		"csrfTokenRemoveWorksheet": {{ doctorView ? csrf_token('remove_worksheet' ~ patient.doctor.id)|serialize('json')|raw : ''|serialize('json')|raw }}
	}
{% endblock %}
