{% extends 'layout/vue.html.twig' %}

{% block title %}Tableaux de bord{% endblock %}

{% block stylesheets %}
	{{ parent() }}

	{{ encore_entry_link_tags('patient-dashboard-page') }}
{% endblock %}

{% block javascripts %}
	{{ parent() }}

	{{ encore_entry_script_tags('patient-dashboard-page') }}
{% endblock %}

{% block body %}
	<div>
		<div id="vue"></div>
	</div>
{% endblock %}
{% block vueData %}
	{
		"patient": {{ patient|serialize('json', {'groups': 'patient_read'})|raw }},
		"doctorView": {{ doctorView|serialize('json')|raw }},
		"csrfTokenAcceptAddRequest": {{ csrf_token('accept_add_request' ~ patient.id)|serialize('json')|raw }},
		"csrfTokenDeclineAddRequest": {{ csrf_token('decline_add_request' ~ patient.id)|serialize('json')|raw }}
	}
{% endblock %}
