{% extends 'layout/vue.html.twig' %}

{% block title %}Mes Fiches{% endblock %}

{% block stylesheets %}
	{{ parent() }}

	{{ encore_entry_link_tags('patient-my-worksheets-page') }}
{% endblock %}

{% block javascripts %}
	{{ parent() }}

	{{ encore_entry_script_tags('patient-my-worksheets-page') }}
{% endblock %}

{% block body %}
	<div class="container my-worksheets my-8">
			<h1><i class="fe fe-file-text"></i>Mes Fiches</h1>

		<div id="vue"></div>
	</div>
{% endblock %}
{% block vueData %}
	{
		"patient": {{ patient|serialize('json', {'groups': 'patient_read'})|raw }},
		"csrfTokenExerciseCompleted": {{ csrf_token('exercise_completed' ~ patient.id)|serialize('json')|raw }}
	}
{% endblock %}
