{% extends 'layout/fullpage-vue.html.twig' %}

{% block title %}Le lien a expiré | KIVID{% endblock %}

{% block stylesheets %}
	{{ parent() }}
{% endblock %}

{% block javascripts %}
	{{ parent() }}
{% endblock %}

{% block body_class %}fuzzy-balls animated{% endblock %}
{% block body %}
	<style>
		.text {
			font-size: 1.4rem;
			margin-bottom: 2.3rem;
			color: #c1b79d;
		}

		.vs-button
		{
			text-decoration:none;
		}
		.vs-button.rmdp
		{
			background: #fff;
			color: #fb8b68;
		}
		.vs-button:last-child
		{
			margin-top: 1.5rem;
		}
	</style>
	<div class="container fullpage">
		<a href="{{ path('app_home') }}" class="logo">
			<img src="/img/logo-kivid.svg" alt="Logo Kivid">
		</a> 
		<section class="kiv-block">
			<h2>Le lien a expiré</h2>
			<p class="text">
				Malheureusement, ce lien de <strong>réinitialisation du mot de passe</strong> a déjà été utilisé ou a expiré, 
				vous pouvez refaire une demande ou vous connecter avec vos anciens identifiants.
			</p>
			<a href="{{ path('app_forgot_password_request') }}" class="vs-button rmdp w-100 vs-button--null vs-button--size-null vs-button--secondary vs-button--default">
				<div class="vs-button__content">Réinitialiser le mot de passe</div>
			</a>
			<a href="{{ path('app_login') }}" class="vs-button w-100 vs-button--null vs-button--size-null vs-button--primary vs-button--default">
				<div class="vs-button__content">Se connecter</div>
			</a>
		</section>
	</div>
{% endblock %}
 