{% extends 'layout/vue.html.twig' %}

{% block title %}Listing Admin | KIVID{% endblock %}

{% block stylesheets %}
	{{ parent() }}

	{{ encore_entry_link_tags('admin-listing-page') }}
{% endblock %}

{% block javascripts %}
	{{ parent() }}

	{{ encore_entry_script_tags('admin-listing-page') }}
{% endblock %}

{% block body %}
	<div id="vue"></div>
{% endblock %}
{% block vueData %}
	{
		"currentUser": {{ app.user|serialize('json', {'groups': 'user_read'})|raw }},
		"listeType": {{ listeType|serialize('json')|raw }}
	}
{% endblock %}
