{% extends 'layout/vue.html.twig' %}

{% block title %}Mes Patients{% endblock %}

{% block stylesheets %}
    {{ parent() }}

	{{ encore_entry_link_tags('my-patients-page') }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}

	{{ encore_entry_script_tags('my-patients-page') }}
{% endblock %}

{% block body %}
	{% include 'layout/partial/_breadcrumb.html.twig' with { pageName : 'Mes Patients'} %}
	
	<div class="container my-8">
		<h1><i class="fe fe-users"></i>Mes Patients</h1>

		<div id="vue"></div>
	</div>
{% endblock %}

{% block vueData %}
	{
		"doctor": {{ doctor|serialize('json', {'groups': 'doctor_read'})|raw }},
		"createPatientForm": {{ createPatientForm|serialize('json')|raw }},
		"addPatientForm": {{ addPatientForm|serialize('json')|raw }},
		"removePatientForm": {{ removePatientForm|serialize('json')|raw }},
		"allPatients": {{ allPatients|serialize('json', {'groups': 'patient_read'})|raw }}
	}
{% endblock %}
