{% extends 'layout/vue.html.twig' %}

{% block title %}Mes Fiches
{% endblock %}

{% block stylesheets %}
	{{ parent() }}

	{{ encore_entry_link_tags('my-worksheets-page') }}
{% endblock %}

{% block javascripts %}
	{{ parent() }}

	{{ encore_entry_script_tags('my-worksheets-page') }}
{% endblock %}

{% block body %}
	<div class="container my-8">
		{% if prescribedPatient %}
			<h1 class="prescription">
				<div class="avatar avatar-md me-3">
					<img class="avatar-img rounded-circle" src="{{ prescribedPatient.avatarUrl|default('/img/avatar-default.svg') }}" alt="avatar">
				</div>
				<div>
					<span class="badge rounded-pill bg-dark-soft h6 text-uppercase prescri-for">
						Prescription pour
					</span>
					<div class="prescri-name">
					{{
						prescribedPatient.gender
							? "male" == prescribedPatient.gender
								? "M."
								: "Mme"
							: ""
					}}
					{{ prescribedPatient.firstname }}
					{{ prescribedPatient.lastname }}
					</div>
				</div>
			</h1>
		{% else %}
			<h1>
				<i class="fe fe-file-text"></i>Mes Fiches</h1>
		{% endif %}

		<div id="vue"></div>
	</div>
{% endblock %}
{% block vueData %}
	{	
			"prescribedPatient":
	{{ prescribedPatient|serialize('json', {'groups': 'patient_read'})|raw }},
			"doctor":
	{{ doctor|serialize('json', {'groups': 'doctor_read'})|raw }},
			"doctorPrescriptions":
	{{ doctorPrescriptions|serialize('json', {'groups': 'worksheet_read'})|raw }},
			"createPatientForm":
	{{ createPatientForm|serialize('json')|raw }},
			"btnAddPrescriptionForm":
	{{ btnAddPrescriptionForm|serialize('json')|raw }},
			"btnRemoveWorksheetForm":
	{{ btnRemoveWorksheetForm|serialize('json')|raw }}
	}
{% endblock %}
