{% extends 'layout/vue.html.twig' %}

{% block title %}Mon profil | KIVID{% endblock %}

{% block stylesheets %}
	{{ parent() }}

	{{ encore_entry_link_tags('settings-page') }}
{% endblock %}

{% block javascripts %}
	{{ parent() }}

	{{ encore_entry_script_tags('settings-page') }}
{% endblock %}

{% block body %}
	<div id="vue"></div>
{% endblock %}
{% block vueData %}
	{
        "currentUser": {{ currentUser|serialize('json', {'groups': 'user_read'})|raw }},
		"csrfTokenEdit": {{ csrf_token('edit_profil' ~ app.user.id)|serialize('json')|raw }},
		"activeTab": "1"
	}
{% endblock %}
