{% extends 'layout/vue.html.twig' %}

{% block title %}Mon Abonnement{% endblock %}

{% block stylesheets %}
	{{ parent() }}

	{{ encore_entry_link_tags('settings-page') }}
{% endblock %}

{% block javascripts %}
	{{ parent() }}

	{{ encore_entry_script_tags('settings-page') }}
{% endblock %}

{% block body %}
	<div id="vue"></div>
{% endblock %}
{% block vueData %}
	{
    "patient": {{ patient|serialize('json', {'groups': 'patient_read'})|raw }},
	"csrfTokenEdit": {{ csrf_token('edit_profil' ~ app.user.id)|serialize('json')|raw }},
	"stripeSubPlans": {{ stripeSubPlans|serialize('json')|raw }},
  	"status": {{ status|serialize('json')|raw }},
    "stripeSubscription": {{ stripeSubscription|serialize('json')|raw }},
    "activeTab": "2"
	}
{% endblock %}
