{{ form_start(form, {'action': path('app_user_edit', {'id':user.id, 'userType': user.granted('ROLE_DOCTOR') ? 'doctor' : 'patient'}), 'method': 'POST'}) }}
    {{ form_row(form.firstname) }}
    {{ form_row(form.lastname) }}
    <div id="current-avatar">
        <div class="d-flex">
            <div class="avatar avatar-xxl">
                <img class="avatar-img rounded-circle" src="{{ user.avatarUrl|default('/img/avatar-default.svg') }}" alt="avatar">
            </div>
        </div>
        {{ form_row(form.avatarFile) }}
    </div>
    {% if user.granted('ROLE_PATIENT') %}
        {{ form_row(form.birthdate) }}
    {% elseif user.granted('ROLE_DOCTOR') %}
        {{ form_row(form.description) }}
        {{ form_row(form.city) }}
        {{ form_row(form.street) }}
        {{ form_row(form.entityName) }}
    {% endif %}

    <button class="btn w-100 btn-primary mt-3 lift">
        {{ button_label|default('Enregistrer') }}
    </button>
{{ form_end(form) }}
