<nav class="navbar navbar-expand-lg navbar-light bg-white">
	<div
		class="container">

		<!-- Brand -->
		<a class="navbar-brand" href="#!">
			<img src="{{ asset('img/brand.svg') }}" class="navbar-brand-img" alt="...">
		</a>

		<!-- Toggler -->
		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>

		<!-- Collapse -->
		<div
			class="collapse navbar-collapse" id="navbarCollapse">

			<!-- Toggler -->
			<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
				<i class="fe fe-x"></i>
			</button>

			<!-- Navigation -->
			<ul class="navbar-nav ms-auto">
				<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" id="navbarLandings" data-bs-toggle="dropdown" href="#!" aria-haspopup="true" aria-expanded="false">
						Forfait Réeducation
					</a>
					<div class="dropdown-menu dropdown-menu-xl p-0" aria-labelledby="navbarLandings">
						<div class="row gx-0">
							<div class="col-12 col-lg-6">
								<div
									class="dropdown-img-start">

									<!-- Heading -->
									<h4 class="fw-bold text-white mb-0">
										Want to see an overview?
									</h4>

									<!-- Text -->
									<p class="fs-sm text-white">
										See all the pages at once.
									</p>

									<!-- Button -->
									<a href="#!" class="btn btn-sm btn-white shadow-dark fonFt-size-sm">
										View all pages
									</a>

								</div>
							</div>
							<div class="col-12 col-lg-6">
								<div class="dropdown-body">
									<div class="row gx-0">
										<div
											class="col-6">

											<!-- Heading -->
											<h6 class="dropdown-header">
												Séance
											</h6>

											<!-- List -->
											<a class="dropdown-item" href="#!">
												Coworking
											</a>
											<a class="dropdown-item" href="#!">
												Rental
											</a>
											<a class="dropdown-item mb-5" href="#!">
												Job Listing
											</a>

											<!-- Heading -->
											<h6 class="dropdown-header">
												Apps
											</h6>

											<!-- List -->
											<a class="dropdown-item" href="#!">
												Desktop
											</a>
											<a class="dropdown-item" href="#!">
												Mobile
											</a>

										</div>
										<div
											class="col-6">

											<!-- Heading -->
											<h6 class="dropdown-header">
												Web
											</h6>

											<!-- List -->
											<a class="dropdown-item" href="#!">
												Basic
											</a>
											<a class="dropdown-item" href="#!">
												Startup
											</a>
											<a class="dropdown-item" href="#!">
												Enterprise
											</a>
											<a class="dropdown-item" href="#!">
												Service
											</a>
											<a class="dropdown-item" href="#!">
												Cloud Hosting
											</a>
											<a class="dropdown-item" href="#!">
												Agency
											</a>
											<a class="dropdown-item" href="#!">
												Framework
												<span class="h6 text-uppercase text-primary">(new)</span>
											</a>

										</div>
									</div>
									<!-- / .row -->
								</div>
							</div>
						</div>
						<!-- / .row -->
					</div>
				</li>
				<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" id="navbarPages" data-bs-toggle="dropdown" href="#!" aria-haspopup="true" aria-expanded="false">
						Professionnels
					</a>
					<div class="dropdown-menu dropdown-menu-lg" aria-labelledby="navbarPages">
						<div class="row gx-0">
							<div class="col-6">
								<div class="row gx-0">
									<div
										class="col-12 col-lg-6">

										<!-- Heading -->
										<h6 class="dropdown-header">
											Career
										</h6>

										<!-- List -->
										<a class="dropdown-item" href="#!">
											Listing
										</a>
										<a class="dropdown-item mb-5" href="#!">
											Opening
										</a>

										<!-- Heading -->
										<h6 class="dropdown-header">
											Company
										</h6>

										<!-- List -->
										<a class="dropdown-item" href="#!">
											About
										</a>
										<a class="dropdown-item" href="#!">
											Pricing
										</a>
										<a class="dropdown-item mb-5 mb-lg-0" href="#!">
											Terms
										</a>

									</div>
									<div
										class="col-12 col-lg-6">

										<!-- Heading -->
										<h6 class="dropdown-header">
											Help center
										</h6>

										<!-- List -->
										<a class="dropdown-item" href="#!">
											Overview
										</a>
										<a class="dropdown-item mb-5" href="#!">
											Article
										</a>

										<!-- Heading -->
										<h6 class="dropdown-header">
											Contact
										</h6>

										<!-- List -->
										<a class="dropdown-item" href="#!">
											Basic
										</a>
										<a class="dropdown-item" href="#!">
											Cover
										</a>

									</div>
								</div>
							</div>
							<div class="col-6">
								<div class="row gx-0">
									<div
										class="col-12 col-lg-6">

										<!-- Heading -->
										<h6 class="dropdown-header">
											Professionnels
										</h6>

										<!-- List -->
										<a class="dropdown-item" href="#!">
											Rich View
										</a>
										<a class="dropdown-item" href="#!">
											Article
										</a>
										<a class="dropdown-item" href="#!">
											Showcase
										</a>
										<a class="dropdown-item mb-5 mb-lg-0" href="#!">
											Search
										</a>

									</div>
									<div
										class="col-12 col-lg-6">

										<!-- Heading -->
										<h6 class="dropdown-header">
											Portfolio
										</h6>

										<!-- List -->
										<a class="dropdown-item" href="#!">
											Masonry
										</a>
										<a class="dropdown-item" href="#!">
											Grid Rows
										</a>
										<a class="dropdown-item" href="#!">
											Parallax
										</a>
										<a class="dropdown-item" href="#!">
											Case Study
										</a>
										<a class="dropdown-item" href="#!">
											Sidebar
										</a>
										<a class="dropdown-item" href="#!">
											Sidebar: Fluid
										</a>
										<a class="dropdown-item" href="#!">
											Basic Grid
										</a>

									</div>
								</div>
							</div>
						</div>
					</div>
					<!-- / .row -->
				</li>
				<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" id="navbarDocumentation" data-bs-toggle="dropdown" href="#!" aria-haspopup="true" aria-expanded="false">
						Membres
					</a>
					<div class="dropdown-menu dropdown-menu-md" aria-labelledby="navbarDocumentation">
						<div class="list-group list-group-flush">
							<a
								class="list-group-item" href="#!">

								<!-- Icon -->
								<div class="icon icon-sm text-primary">
									<svg width="24" height="24" viewbox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
										<g fill="none" fill-rule="evenodd"><path d="M0 0h24v24H0z"/><path d="M8 3v.5A1.5 1.5 0 009.5 5h5A1.5 1.5 0 0016 3.5V3h2a2 2 0 012 2v16a2 2 0 01-2 2H6a2 2 0 01-2-2V5a2 2 0 012-2h2z" fill="#335EEA" opacity=".3"/><path d="M11 2a1 1 0 012 0h1.5a.5.5 0 01.5.5v1a.5.5 0 01-.5.5h-5a.5.5 0 01-.5-.5v-1a.5.5 0 01.5-.5H11z" fill="#335EEA"/><rect fill="#335EEA" opacity=".3" x="7" y="10" width="5" height="2" rx="1"/><rect fill="#335EEA" opacity=".3" x="7" y="14" width="9" height="2" rx="1"/></g>
									</svg>
								</div>

								<!-- Content -->
								<div
									class="ms-4">

									<!-- Heading -->
									<h6 class="fw-bold text-uppercase text-primary mb-0">
										Documentation
									</h6>

									<!-- Text -->
									<p class="fs-sm text-gray-700 mb-0">
										Customizing and building
									</p>

								</div>

							</a>
							<a
								class="list-group-item" href="#!">

								<!-- Icon -->
								<div class="icon icon-sm text-primary">
									<svg width="24" height="24" viewbox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
										<g fill="none" fill-rule="evenodd"><path d="M0 0h24v24H0z"/><rect fill="#335EEA" x="4" y="4" width="7" height="7" rx="1.5"/><path d="M5.5 13h4a1.5 1.5 0 011.5 1.5v4A1.5 1.5 0 019.5 20h-4A1.5 1.5 0 014 18.5v-4A1.5 1.5 0 015.5 13zm9-9h4A1.5 1.5 0 0120 5.5v4a1.5 1.5 0 01-1.5 1.5h-4A1.5 1.5 0 0113 9.5v-4A1.5 1.5 0 0114.5 4zm0 9h4a1.5 1.5 0 011.5 1.5v4a1.5 1.5 0 01-1.5 1.5h-4a1.5 1.5 0 01-1.5-1.5v-4a1.5 1.5 0 011.5-1.5z" fill="#335EEA" opacity=".3"/></g>
									</svg>
								</div>

								<!-- Content -->
								<div
									class="ms-4">

									<!-- Heading -->
									<h6 class="fw-bold text-uppercase text-primary mb-0">
										Components
									</h6>

									<!-- Text -->
									<p class="fs-sm text-gray-700 mb-0">
										Full list of components
									</p>

								</div>

							</a>
							<a
								class="list-group-item" href="#!">

								<!-- Icon -->
								<div class="icon icon-sm text-primary">
									<svg width="24" height="24" viewbox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
										<g fill="none" fill-rule="evenodd"><path d="M0 0h24v24H0z"/><path d="M5.857 2h7.88a1.5 1.5 0 01.968.355l4.764 4.029A1.5 1.5 0 0120 7.529v12.554c0 1.79-.02 1.917-1.857 1.917H5.857C4.02 22 4 21.874 4 20.083V3.917C4 2.127 4.02 2 5.857 2z" fill="#335EEA" opacity=".3"/><rect fill="#335EEA" x="6" y="11" width="9" height="2" rx="1"/><rect fill="#335EEA" x="6" y="15" width="5" height="2" rx="1"/></g>
									</svg>
								</div>

								<!-- Content -->
								<div
									class="ms-4">

									<!-- Heading -->
									<h6 class="fw-bold text-uppercase text-primary mb-0">
										Changelog
									</h6>

									<!-- Text -->
									<p class="fs-sm text-gray-700 mb-0">
										Keep track of changes
									</p>

								</div>

								<!-- Badge -->
								<span class="badge rounded-pill bg-primary-soft ms-auto">
									2.0.0
								</span>

							</a>
						</div>
					</div>
				</li>

				{% if app.user %}
					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle d-flex" id="dropdown-user" href="#" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							<div class="user-nav d-sm-flex d-none flex-column">
								<span class="user-name fw-bolder">{{ app.user.firstname|default(app.user.username) }} {{ app.user.lastname|default('') }}</span>
								{% if is_granted('ROLE_PATIENT') %}
									<span class="user-status">Patient</span>
								{% elseif is_granted('ROLE_DOCTOR')%}
									<span class="user-status">kinésithérapeute</span>
								{% elseif is_granted('ROLE_ADMIN')%}
									<span class="user-status">Admin</span>
								{% endif %}
							</div>
							{% if app.user.avatarUrl is defined %} 
								<span class="avatar avatar-online ms-5">
									<img class="avatar-img rounded-circle" src="{{ app.user.avatarUrl }}" alt="avatar" height="40" width="40">
								</span>
							{% endif %}
						</a>
						<div class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdown-user">
							<a class="dropdown-item" href="">
								<svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewbox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-user me-50">
									<path d="M20 21v-2a4 4 0 0 0-4-4H8a4 4 0 0 0-4 4v2"></path>
									<circle cx="12" cy="7" r="4"></circle>
								</svg>
								Profile</a>
							<a class="dropdown-item" href="">
								<svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewbox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-mail me-50">
									<path d="M4 4h16c1.1 0 2 .9 2 2v12c0 1.1-.9 2-2 2H4c-1.1 0-2-.9-2-2V6c0-1.1.9-2 2-2z"></path>
									<polyline points="22,6 12,13 2,6"></polyline>
								</svg>
								Inbox</a>
							{% if is_granted('ROLE_PATIENT') %}
							<a class="dropdown-item" href="{{ path('app_patient_dashboard', {'id':app.user.id}) }}">
							{% elseif is_granted('ROLE_DOCTOR')%}
							<a class="dropdown-item" href="{{ path('app_doctor_dashboard', {'id':app.user.id}) }}">
							{% elseif is_granted('ROLE_ADMIN')%}
							<a class="dropdown-item" href="{{ path('app_admin_dashboard') }}">
							{% endif %}
								<svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewbox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-check-square me-50">
									<polyline points="9 11 12 14 22 4"></polyline>
									<path d="M21 12v7a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h11"></path>
								</svg>
								Dashboard</a>
							<div class="dropdown-divider"></div>
							<a class="dropdown-item" href="page-account-settings.html">
								<svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewbox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-settings me-50">
									<circle cx="12" cy="12" r="3"></circle>
									<path d="M19.4 15a1.65 1.65 0 0 0 .33 1.82l.06.06a2 2 0 0 1 0 2.83 2 2 0 0 1-2.83 0l-.06-.06a1.65 1.65 0 0 0-1.82-.33 1.65 1.65 0 0 0-1 1.51V21a2 2 0 0 1-2 2 2 2 0 0 1-2-2v-.09A1.65 1.65 0 0 0 9 19.4a1.65 1.65 0 0 0-1.82.33l-.06.06a2 2 0 0 1-2.83 0 2 2 0 0 1 0-2.83l.06-.06a1.65 1.65 0 0 0 .33-1.82 1.65 1.65 0 0 0-1.51-1H3a2 2 0 0 1-2-2 2 2 0 0 1 2-2h.09A1.65 1.65 0 0 0 4.6 9a1.65 1.65 0 0 0-.33-1.82l-.06-.06a2 2 0 0 1 0-2.83 2 2 0 0 1 2.83 0l.06.06a1.65 1.65 0 0 0 1.82.33H9a1.65 1.65 0 0 0 1-1.51V3a2 2 0 0 1 2-2 2 2 0 0 1 2 2v.09a1.65 1.65 0 0 0 1 1.51 1.65 1.65 0 0 0 1.82-.33l.06-.06a2 2 0 0 1 2.83 0 2 2 0 0 1 0 2.83l-.06.06a1.65 1.65 0 0 0-.33 1.82V9a1.65 1.65 0 0 0 1.51 1H21a2 2 0 0 1 2 2 2 2 0 0 1-2 2h-.09a1.65 1.65 0 0 0-1.51 1z"></path>
								</svg>
								Settings</a>
							<a class="dropdown-item" href="">
								<svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewbox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-help-circle me-50">
									<circle cx="12" cy="12" r="10"></circle>
									<path d="M9.09 9a3 3 0 0 1 5.83 1c0 2-3 3-3 3"></path>
									<line x1="12" y1="17" x2="12.01" y2="17"></line>
								</svg>
								FAQ</a>
							<a class="dropdown-item" href="{{ path('app_logout') }}">
								<svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewbox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-power me-50">
									<path d="M18.36 6.64a9 9 0 1 1-12.73 0"></path>
									<line x1="12" y1="2" x2="12" y2="12"></line>
								</svg>
								Logout</a>
						</div>
					</li>
				{% else %}
					<a class="navbar-btn btn btn-sm btn btn-outline-primary lift ms-auto" href="{{ path('app_login') }}">
						SE CONNECTER
					</a>
					<a class="navbar-btn btn btn-sm btn-primary lift ms-auto" href="{{ path('app_register') }}">
						S'INSCRIRE
						<i class="fe fe-arrow-right"></i>
					</a>
				{% endif %}
			</ul>
		</div>
	</div>
</nav>
